if SHIELD_SKREEPAD_LEFT

config ZMK_KEYBOARD_NAME
    default "Skreepad"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SKREEPAD_LEFT || SHIELD_SKREEPAD_RIGHT

config ZMK_SPLIT
    default y

config ZMK_SLEEP
    default y

config ZMK_POINTING
    default y

config SPI
    default y

config I2C
    default y

config INPUT
    default y

config ZMK_MOUSE
    default y

config INPUT_AZOTEQ_IQS5XX
    default y

config ZMK_RGB_UNDERGLOW_EXT_POWER
    default n

config ZMK_KSCAN_MATRIX_WAIT_BEFORE_INPUTS
    default 0

config ZMK_KSCAN_MATRIX_WAIT_BETWEEN_OUTPUTS
    default 1

endif

if SHIELD_SKREEPAD_RIGHT

config ZMK_DISPLAY
    select LV_USE_CONT
    select LV_USE_LABEL
    select LV_FONT_MONTSERRAT_26

endif # SHIELD_SKREEPAD_RIGHT

config ZMK_RGB_UNDERGLOW
    default y
    imply WS2812_STRIP
